{% extends 'objs.html' %}

{% block content %}
    {{ block.super }}


    <!-- I'm objs_list content -->

    <h1>This is my heading</h1>


    <table>
        <tr>
            <td>{{ giraffe.title }}</td>
            <td>{{ giraffe.color }}</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        {% for obj in objs %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.title }}</td>
                <td>{{ obj.color }}</td>
                <td>{{ obj.get_rating }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Column 1</td>
            <td></td>
            <td>Column 3</td>
            <td></td>
        </tr>
    </table>
{% endblock %}